@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>OGLOSZENIA</h1>
    <p class="lead">Witamy na największym portalu z ogłoszeniami</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Regulamin</h2>
        <p>
            Zapoznaj się z naszym regulaminem zamieszczania ogloszeń.
        </p>
        <p><a class="btn btn-default" href="#">Regulamin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Polityka prywatności</h2>
        <p>Zapoznaj się z naszą polityką prywatności.</p>
        <p><a class="btn btn-default" href="#">Polityka prywatności &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontakt</h2>
        <p>Skontaktuj się z nami</p>.
        <p><a class="btn btn-default" href="#">Kontakt &raquo;</a></p>
    </div>
</div>